<?xml version="1.0" encoding="UTF-8"?>
<AlteryxJavaScriptPlugin>
  <Properties>
    <MetaInfo>
      <Name>New York Times</Name>
      <Description>A NYT HtmlPlugin built with Vue.js and Vuetify</Description>
      <ToolVersion>1</ToolVersion>
      <CategoryName>Connectors</CategoryName>
      <Author>Taylor Cox</Author>
      <Icon>icon.png</Icon>
    </MetaInfo>
  </Properties>
</AlteryxJavaScriptPlugin>
